.about-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: aqua;
  background-image: url('../assets/pics/halloween1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
}

.about-text {
  color: white;
  font-size: 1.2em;
  width: 80%;
  max-width: 700px;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.8s ease-out;
}

.about-text.zoom-in {
  opacity: 1;
  transform: scale(1);
}

