
.full-width-section {
  width: 94vw;
  padding: 50px; 
  background-color: black;
}

section {
  margin: 0; 
  width: 100%;
}

.maincontainer{
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}


body {
  overflow-y: scroll; 
}